body{
    background-color: #212529;
} 
#Home{
    background-image: url(./img/coffee-ga2e120898_1920.jpg);
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}
#navbar{
    position: fixed;
    background-color:rgba(12, 11, 9, 0.6);
    z-index: 1000;
}
.nav-link{
    position: relative;
    z-index: 1000;
}
#container{

}
#About{
    background-image: url(./img/restaurant-1837150__340.webp);
    background-position: cover;
    background-attachment: fixed;
    object-fit: cover;
}
#Events{
    background-image: url(./img/restaurant-1837150__340.webp);
    background-position: cover;
    background-attachment: fixed;
    object-fit: cover;
}
.card {
    position: relative;
  }
  #why{
      background-color: ;
  }
  
  .card-img-overlay {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .card:hover .card-img-overlay {
    opacity: 1;
  }
