#Home{
    background-image: url(./img/coffee-ga2e120898_1920.jpg);
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}
#nav{
    background:rgba(12, 11, 9, 0.6);
}
#About{
    background-image: url(./img/restaurant-1837150__340.webp);
    background-position: cover;
    background-attachment: fixed;
    object-fit: cover;
}